<footer class="footer">
  <object class="my-icon" data="../assets/images/lottostar_vector.svg" type="image/svg+xml">
    Lotto Star Logo
  </object>
  <div class="information">
    <p>LottoStar (Pty) Ltd Reg no. 2007/011071/07 (<a href="https://lottostar.co.za/licence/" target="_blank">Licence Number 9-2-1-00087</a>). Licensed and regulated by the Mpumalanga Economic Regulator. No persons under the age of 18 are permitted to bet.
      National Responsible Gambling Programme 0800 006 008. Betting can be addictive, winners know when to stop. All events are fixed-odds betting games.</p>
  </div>
</footer>
