.footer {
  background: #333333;
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
  z-index: 100;
  bottom: 0;
}

.my-icon {
  width: 120px;
  margin: 0 auto;
  display: block;
}

.information {
  font-size: 12px;
  width: 930px;
  margin: 5px auto;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 14px;
}

.information a {
  color: #0BA3F7;
}
